@model LancheListViewModel

<h2>@Model.Categoria</h2>
<hr />

@*<div>
    <h5>@ViewData["titulo"]</h5>
</div>
<h5>@ViewData["datahora"]</h5>
<hr />
@ViewBag.texto
@ViewBag.total
<hr />
<h5>@TempData["nome"]</h5>*@
<div class="container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanche" />
        }
    </div>
</div>


