@model IEnumerable<LanchesMac.Models.Lanche>

<h2>Todos os Lanches</h2>
<hr />

@*<div>
    <h5>@ViewData["titulo"]</h5>
</div>
<h5>@ViewData["datahora"]</h5>
<hr />
@ViewBag.texto
@ViewBag.total
<hr />
<h5>@TempData["nome"]</h5>*@

@foreach (var lanche in Model)
{
    <div>
        <hr />
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl" /></p>
        <h4>Preço: @lanche.Preco</h4>
    </div>
}

